body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
#topbttn{
    background-color: red;
}
@font-face{
    font-family: "Ubuntu";
    src: url(Ubuntu-Regular.ttf);
}
@font-face{
    font-family: "Lora";
    src: url(Lora-MediumItalic.ttf);
}
ul.navitem{
    overflow: hidden;
    background-color:	#262626;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
li {
    float: left;
    margin-left: 10px;
}
li a{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    color: #f2f2f2;
}
li a:link, a:visited{
    text-decoration: none;
}
li a:hover{
    background-color: #9B1B30;
}
li a:active{
    background-color: darkblue;
}
.active{
    background-color: #ff1e00;
}
li a:hover:not(.active){
    background-color: #9B1B30;
}
.profile{
    margin-top: 80px;
}
.title.column{
    padding: 10px;
    background-color: #F8F8FF;
    float: left;
    color: black;
    height: 280px
}
h3{
    font-family: "Ubuntu";
    font-size: 24px;
    margin: 10px 10px;
}
h4{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    margin: 10px 10px;
}
h5{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    margin: 10px 10px;
}
p{
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    margin: 10px 10px;
}
*{
    box-sizing: border-box;
}
.left{
    width: 30%;
}
.right{
    width: 70%;
}
/*clear float after column*/
.profile:after{
    content: "";
    display: table;
    clear: both;
}
.title.column.left img{
    border-radius: 50%;
    width: 240px;
    margin-left: 30px;
    margin-top: 10px;
}
blockquote{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    border-top: 2px solid #7C7E82;
    border-bottom: 2px solid #7C7E82;
    align-self: center;
}
blockquote p{
    font-family: "Lora";
    position: relative;
    font-size: 28px;
    font-weight: 700;
    text-align: center; 
}
blockquote .footer{
    font-family: Cochin;
    position: relative;
    font-size: 18px;
    font-weight: 100;
    padding-top: 10px;
    text-align: right;    
    margin-right: 60px;
}
blockquote:after{
    position: absolute;
    content: "“";
    color: #545454;
    font-size: 120px;
    top: -10px;
    left: 20px;
}
*{
    box-sizing: border-box;
}
.blog{
    padding: 10px;
    width: 100%;
    height: 700px;
    background-color: lightblue;
    color: #34558b;
}
.codeSkill{
    width: 100%;
    position: relative;
    float: left;
}
.LangSkill{
    width: 100%;
    float: left;
    position: relative;
}
.otherSkill{
    width: 100%;
    float: left;
    position: relative;
}
.codeSkill ul,.LangSkill ul,.otherSkill ul{
    list-style-type: none;
    display: list-item;
    float: left;
    margin-left: 10px;
}
.likeToDo{
    margin: 0px 10px 0px;
}
.codeSkill li,.LangSkill li,.otherSkill li,.likeToDo li{
    display: block;
    /*use this, otherwise all lines of the list will be on a line. It will clear floating elements on both side*/
    clear: both;        
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    margin: 0;
}
.codeSkill p{
    margin: 0px 10px 0px;
    padding: 0;
}
.LangSkill p{
    margin: -10px 10px 0px;
    padding: 0;
}
.otherSkill p{
    margin: -10px 10px 0px;
    padding: 0;
}
.body:after{
    content: "";
    display: table;
    clear: both;
}
.quote{
    position: relative;
    margin: 40px;
    padding: 10px;
    border-top: 2px solid #7C7E82;
    border-bottom: 2px solid #7C7E82;
    align-self: center;
}
.quote p{
    font-family: "Lora";
    position: relative;
    font-size: 28px;
    font-weight: 700;
    text-align: center; 
}
.quote .footer{
    font-family: Cochin;
    position: relative;
    font-size: 18px;
    font-weight: 100;
    padding-top: 10px;
    text-align: right;    
    margin-right: 60px;
}
.quote:after{
    position: absolute;
    content: "“";
    color: #545454;
    font-size: 120px;
    top: -10px;
    left: 20px;
}
footer{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.contact{
    float: right;
    padding: 10px;
    width: 50%;
    height: 300px;
    background-color: darkgrey;
}
.sitemap{
    float: left;
    padding: 10px;
    width: 50%;
    height: 300px;
    background-color: darkgrey;
}
.contact img{
    width: 40px;
    vertical-align: middle;
}
.contact p{
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    margin-left: 30px;
    vertical-align: middle;
}
.fa{
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
    width: 37px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-linkedin{
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #DD2A7B;
    color: white;
}
.sitemap a:link,.sitemap a:visited,.sitemap a:hover,.sitemap a:active{
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    margin-left: 30px;
}
.contact:after,.sitemap:after{
    content: "";
    display: table;
    clear:both;
}
.Edu{
    height: auto;
    padding: 10px;
    background-color: #9B1B30;
    color: white;
}
.Edu img{
    width: 50px;
    vertical-align: middle;
    margin-left: 30px;
}
.Edu span{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    margin: 10px 10px;
}
#aboutMe,#intro,#hobbies{
    color: blue;
}
